spring:
  application:
    name: configcius.mcp
  main:
    banner-mode: ${SPRING_MAIN_BANNER_MODE:off}
  ai:
    mcp:
      server:
        name: configcius-mcp
        version: 0.0.1
        type: ${SPRING_AI_MCP_SERVER_TYPE:ASYNC}
        stdio: ${SPRING_AI_MCP_SERVER_STDIO:false}
        sse-message-endpoint: /mcp/message
        sse-endpoint: /sse
        resource-change-notification: ${SPRING_AI_MCP_SERVER_RESOURCE_CHANGE_NOTIFICATION:false}
        tool-change-notification: ${SPRING_AI_MCP_SERVER_TOOL_CHANGE_NOTIFICATION:false}
        prompt-change-notification: ${SPRING_AI_MCP_SERVER_PROMPT_CHANGE_NOTIFICATION:false}

logging:
  file:
    name: ./target/starter-webflux-server.log
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: "*"